@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
    font-family: 'Public Sans', sans-serif;
  }

  * {
    @apply box-border;
  }
}

@layer components {
  main {
    @apply max-w-3xl mx-auto px-4;
  }
}

